html {
  box-sizing: border-box;
}

body {
  border: 40px solid white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

aside {
  height: calc(100vh - 80px);
  padding: $base-spacing;
}

section {
  @include grid-container;
  flex: 1 1;
}

