<section class="post-wrapper">
  <% page_articles.each_with_index do |article, i| %>
    <div class="post-block">
      <h4><%= article.date.strftime('%b %e %Y') %></h4>
      <h2><%= link_to article.title, article %> </h2>
      <%= article.summary %>
      <%= link_to 'Read more…', article %>
    </div>
  <% end %>
</section>
